body
{
    font-family: 'Arvo', serif;
    margin:0;
    padding:0;
}
.height
{
    min-height: 100vh;
}
.title-underline
{
    width:100px;
    height: 5px;
    margin : 0 auto;
}
.height-80
{
    min-height:100vh; 
}
.about-picture
{
    background: url(../img/header-bg.jpeg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-text
{

}
.imgfiller
{
    
    background :linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)),url(../img/filler.jpg) center/cover no-repeat fixed;
    
}
.imgprogress
{
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)), url(../img/progress.jpg) center/cover no-repeat fixed;

}